* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

a {
  width: auto;
  padding: 5px;
  margin: 5px;
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'github-font';
  color: initial;
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
}

#canvas {
  position: absolute;
  height: 120%;
  width: 120%;
  background-color: aqua;
  /* left: 500px; */
  z-index: -1;
}

@font-face {
  font-family: 'github-font';
  src: url(./assets/fonts/github-font.ttf);
}