* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body.active {
  height: 100%;
  overflow: hidden;
}

.shifting {
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  z-index: 2;
}

button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border: none;
}

h2 {
  letter-spacing: 0.06em;
}

li {
  width: auto;
}

header, header nav ul, .logo a, .not-only, .pets, .slider, .card, .help, .help .list, .item, .donation, .donation-content, footer .container, footer .footer-contacts,
footer .footer-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  max-width: 1280px;
  background: url(../../assets/images/background-gradient.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 60%, #211F20 100%);
  background-position: top left, top center;
  background-repeat: repeat, no-repeat;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  padding: 0 40px;
}

section {
  padding: 0 40px;
}

header {
  margin: 60px 0;
  width: 100%;
  height: 60px;
}

header nav {
  display: block;
  max-width: 443px;
  width: 100%;
}

header nav ul {
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

header nav ul li {
  margin: auto;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  color: #CDCDCD;
  font-size: 15px;
}

header nav ul li :hover {
  color: #FFFFFF;
}

header nav ul li :focus-within {
  outline: none;
}

header nav ul li:nth-child(1)::after {
  display: block;
  position: relative;
  top: 3px;
  content: '';
  width: 100%;
  height: 3px;
  background: #F1CDB3;
}

header .burger {
  display: none;
}

header .burger-panel {
  display: none;
}

header .gray-block {
  display: none;
}

.logo {
  height: 100%;
}

.logo a {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo.hidden {
  display: none;
}

.title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  color: #F1CDB3;
  font-size: 32px;
  letter-spacing: 0.06em;
}

.subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.not-only {
  height: 728px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content {
  margin-top: 163px;
  width: 460px;
  height: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 44px;
  line-height: 130%;
  width: 310px;
}

.subheading {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  color: #CDCDCD;
  font-size: 15px;
  line-height: 160%;
}

.button-primary {
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  color: #292929;
  font-size: 17px;
  letter-spacing: 0.06em;
}

.puppy {
  width: 698px;
  height: 728px;
  background: url(../../assets/images/start-screen-puppy.png);
  background-size: cover;
}

.about {
  background: #FFFFFF;
  height: 588px;
  padding: 80px 175px 100px;
}

.about-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-picture {
  width: 300px;
  height: 408px;
  background: url(../../assets/images/about-pets.png);
}

.about-text {
  width: 430px;
  margin: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}

.about-text .heading {
  color: #545454;
  height: 90px;
  font-size: 35px;
}

.about-text .subheading {
  color: #4C4C4C;
}

.pets {
  height: 877px;
  background: #F6F6F6;
  padding: 80px 40px 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pets .heading {
  color: #545454;
  height: 90px;
  width: 400px;
  font-size: 35px;
  text-align: center;
  white-space: pre-line;
}

.pets button {
  width: 261px;
  height: 52px;
  background-color: #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  color: #292929;
  font-size: 17px;
  letter-spacing: 0.06em;
}

.pets button:hover {
  background-color: #FDDCC4;
  border: none;
}

.slider {
  height: 435px;
  width: 100%;
}

.slider .prev,
.slider .next {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: url(../../assets/images/pets/Arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

.slider .prev:hover,
.slider .next:hover {
  background-color: #FDDCC4;
  border: none;
}

.slider .next {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.slider button {
  background: transparent;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 90px;
          column-gap: 90px;
  height: 100%;
}

.card-slides {
  position: relative;
  left: -990px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-wrapper {
  width: 990px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.card {
  width: 270px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  color: #545454;
  background: #FAFAFA;
  letter-spacing: 0.06em;
}

.card .picture {
  height: 270px;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #FFFFFF;
}

.card:hover button {
  background-color: #FDDCC4;
  border: none;
}

.card .name {
  color: #292929;
  font-size: 20px;
}

.card button {
  font-family: inherit;
  font-size: 17px;
  width: 187px;
  margin-bottom: 30px;
  letter-spacing: inherit;
}

.help {
  height: 611px;
  width: 100%;
  padding: 80px 40px 100px;
  background: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help .heading {
  color: #545454;
  font-size: 35px;
  text-align: center;
  margin-bottom: 60px;
}

.help .list {
  width: 1026px;
  height: 281px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 119px;
          column-gap: 119px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 55px;
}

.help .list .item:nth-child(6) {
  margin-left: 84px;
}

.help .list .item:last-child {
  margin-right: 84px;
}

.help .list img {
  width: 60px;
  height: 60px;
}

.item {
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 113px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  color: #545454;
  font-size: 20px;
  letter-spacing: 0.06em;
}

.donation {
  width: 100%;
  height: 462px;
  background: #F6F6F6;
  padding: 80px 182px 100px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.donation img {
  width: 505px;
  height: 261px;
}

.donation-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #545454;
  row-gap: 20px;
  height: 282px;
}

.donation-content .heading {
  width: 300px;
  height: 90px;
  font-size: 35px;
  color: inherit;
}

.donation-content .subheading {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.donation-content p {
  color: inherit;
}

.donation-content .credit-card {
  width: 349px;
  height: 43px;
  background: #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  border-radius: 9px;
}

.donation-content .credit-card:hover {
  background-color: #FDDCC4;
}

.donation-content .credit-card img {
  width: 30px;
  height: 23px;
}

.donation-content pre {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  color: inherit;
  font-size: 20px;
  letter-spacing: 0.06em;
}

.donation-content .donation-text {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  color: #B2B2B2;
  line-height: 150%;
  font-size: 12px;
}

footer {
  height: 350px;
  padding-top: 40px;
  background: url(../../assets/images/background-gradient.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 10%, #262425 75%, #211F20 100%);
}

footer .container {
  -webkit-column-gap: 160px;
          column-gap: 160px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .container div {
  height: 234px;
}

footer .footer-contacts {
  width: 279px;
}

footer .footer-location {
  width: 302px;
}

footer .footer-contacts,
footer .footer-location {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 16px;
}

footer .footer-contacts .heading,
footer .footer-location .heading {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 100%;
  height: 90px;
}

footer .footer-contacts img,
footer .footer-location img {
  width: auto;
  height: auto;
  display: block;
}

footer .footer-contacts a,
footer .footer-location a {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  color: #F1CDB3;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer img {
  width: 300px;
  height: 310px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}

.modal.active {
  display: block;
  z-index: 10;
}

.modal-gray {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  background-color: #4C4C4C;
  cursor: pointer;
}

.modal-gray-mini {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  z-index: 20;
  background-color: #4C4C4C;
  cursor: pointer;
}

.modal-window {
  display: block;
  width: 952px;
  height: 552px;
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% + 26px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #5B483A;
  z-index: 20;
  border-radius: 9px;
}

.modal-content {
  width: 900px;
  height: 500px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 30;
  border-radius: 9px;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.modal-close {
  display: block;
  position: absolute;
  right: 8px;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: red;
  z-index: 30;
}

.modal-picture {
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 9px;
}

.modal-text {
  background-color: #FAFAFA;
  width: 351px;
  height: 362px;
  margin: 50px 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000000;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.modal-text .modal-title {
  font-size: 35px;
  line-height: 130%;
  font-weight: inherit;
}

.modal-text .modal-subtitle {
  font-size: 20px;
  line-height: 115%;
  font-weight: inherit;
}

.modal-text p {
  font-size: 15px;
  line-height: 110%;
}

.modal-text ul {
  margin-left: 15px;
  height: 102px;
  font-size: 15px;
  line-height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-text ul li::before {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  content: "";
  background-color: #F1CDB3;
  position: relative;
  left: -15px;
  top: 50%;
}

@media screen and (max-width: calc(1280px - 1px)) {
  .container {
    padding: 0 30px;
  }
  header {
    margin: 30px 0 60px;
  }
  .not-only {
    height: 1015px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px;
  }
  .content {
    margin: 0;
    gap: 42px;
  }
  .content a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .puppy {
    width: 569px;
    height: 593px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .about {
    height: 1048px;
    padding: 80px 169px 100px;
  }
  .about .container {
    padding: 0;
    height: 100%;
  }
  .about .about-picture {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .about .about-text {
    margin: 0;
  }
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pets {
    height: 877px;
    padding: 80px 30px 100px;
  }
  .slider {
    max-width: 800px;
  }
  .slider .card:last-child {
    display: none;
  }
  .slider .card-box {
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .slider-wrapper {
    width: 580px;
  }
  .help {
    height: 779px;
    padding: 80px 30px 100px;
  }
  .help .list {
    height: 449px;
    width: 630px;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .help .list .item:nth-child(6) {
    margin-left: 0;
  }
  .help .list .item:last-child {
    margin-right: 0;
  }
  .help .item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
  .donation {
    height: 783px;
    padding: 80px 0 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .donation > img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .donation .donation-content {
    width: 380px;
  }
  footer {
    height: 639px;
    padding: 30px 0 0 0;
  }
  footer .container {
    padding: 0 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 60px;
            column-gap: 60px;
  }
  footer .container .footer-contacts,
  footer .container .footer-location {
    margin: 0;
    position: relative;
    right: 10px;
  }
  footer .container > div {
    width: 279px;
  }
  footer .container > img {
    max-width: 300px;
    display: block;
    margin: 65px 150px 0;
  }
  footer .container div.footer-location > a:nth-child(2) > p {
    width: 259px;
    text-align: left;
  }
  .modal-window {
    width: 682px;
    height: 402px;
  }
  .modal-content {
    width: 630px;
    height: 350px;
  }
  .modal-text {
    width: 260px;
    height: 303px;
    margin: 10px 9px 0 0;
  }
  .modal-text p {
    font-size: 13px;
    line-height: 110%;
  }
  .modal-picture {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .container {
    padding: 0 10px;
  }
  header {
    margin: 30px 0 60px;
  }
  header .logo.hidden {
    display: block;
    position: fixed;
    height: 60px;
    right: -320px;
    top: 30px;
    z-index: 10;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
  header .logo.hidden.active {
    right: 124px;
  }
  header nav {
    display: block;
    position: fixed;
    width: 243px;
    height: 327px;
    right: -320px;
    top: 248px;
    z-index: 10;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
  header nav ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav ul li {
    height: 51px;
    font-size: 32px;
    line-height: 160%;
    margin: 0;
  }
  header nav.active {
    display: block;
    position: fixed;
    width: 243px;
    height: 327px;
    right: 38px;
    top: 248px;
    z-index: 10;
  }
  header .burger {
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 43px;
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: ease-in 0.2s;
    transition: ease-in 0.2s;
    z-index: 10;
  }
  header .burger div {
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
  }
  header .burger.active {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: fixed;
    top: 45px;
    right: 10px;
  }
  header .burger-panel {
    display: block;
    height: 100vh;
    width: 320px;
    z-index: 5;
    position: fixed;
    right: -320px;
    top: 0;
    background-color: #292929;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
  header .gray-block.active {
    display: block;
    position: absolute;
    background-color: rgba(41, 41, 41, 0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 4;
  }
  header .burger-panel.active {
    right: 0;
  }
  .not-only {
    height: 673px;
    padding: 0 10px;
  }
  .not-only .content {
    width: 300px;
    height: 296px;
  }
  .not-only .heading {
    width: 100%;
    font-size: 25px;
    line-height: 130%;
    white-space: pre-line;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .not-only .subheading {
    width: 100%;
    text-align: center;
  }
  .not-only .puppy {
    width: 260px;
    height: 272px;
    -ms-flex-item-align: end;
    justify-self: flex-end;
  }
  .about {
    height: 974px;
    padding: 42px 25px;
  }
  .about .about-text {
    width: 100%;
    row-gap: 22px;
    text-align: justify;
  }
  .about .about-text .heading {
    font-size: 25px;
    line-height: 130%;
    white-space: pre-line;
    text-align: center;
    width: 100%;
    height: 64px;
  }
  .about .about-picture {
    width: 260px;
    height: 353px;
    background-size: contain;
  }
  .pets {
    height: 791px;
    padding: 42px 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pets .heading {
    font-size: 25px;
    line-height: 130%;
    height: 64px;
  }
  .pets .slider {
    width: 320px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 507px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pets .slider .prev {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 80px;
  }
  .pets .slider .next {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .pets .slider .card-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-column-gap: 0;
            column-gap: 0;
    width: 270px;
    height: 435px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pets .slider .card-box .card:nth-last-child(-n+2) {
    display: none;
  }
  .pets .slider-wrapper {
    width: 270px;
    height: 435px;
  }
  .pets a {
    display: block;
  }
  .help {
    height: 745px;
    padding: 42px 15px;
  }
  .help .heading {
    font-size: 25px;
    line-height: 130%;
    margin: 0;
    width: 225px;
  }
  .help .list {
    height: 555px;
    width: 100%;
    gap: 0;
  }
  .help .list .item {
    min-width: 130px;
    max-width: 130px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    height: 87px;
  }
  .help .list .item:nth-child(odd) {
    margin-left: calc((100% - 290px) / 3);
  }
  .help .list .item:nth-child(even) {
    margin-right: calc((100% - 290px) / 3);
  }
  .help .list .item p {
    font-size: 15px;
    line-height: 110%;
    white-space: nowrap;
  }
  .help .list .item img {
    width: 50px;
    height: 50px;
  }
  .donation {
    height: 542px;
    padding: 42px 10px;
  }
  .donation > img {
    width: 260px;
    height: 135px;
  }
  .donation .donation-content {
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 281px;
  }
  .donation .donation-content .heading {
    font-size: 25px;
    line-height: 130%;
    white-space: pre-line;
    height: 64px;
  }
  .donation .donation-content .subheading {
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0;
  }
  .donation .donation-content .credit-card {
    height: 43px;
    width: 281px;
  }
  .donation .donation-content .credit-card pre {
    font-size: 15px;
    line-height: 110%;
  }
  .donation .donation-content .donation-text {
    max-width: 280px;
    text-align: justify;
  }
  footer {
    height: 809px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .container {
    padding: 0 10px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .footer-contacts,
  footer .container .footer-location {
    margin-top: 0;
    position: static;
  }
  footer .container a {
    line-height: 115%;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    width: 300px;
  }
  footer .container .heading {
    font-size: 25px;
    line-height: 130%;
    height: 64px;
    width: 270px;
    display: block;
  }
  footer .container .footer-contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 208px;
  }
  footer .container .footer-contacts > a {
    width: auto;
  }
  footer .container .footer-location {
    height: 222px;
    width: 100%;
  }
  footer .container .footer-contacts,
  footer .container .footer-location {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container > img {
    margin: 0;
    width: 260px;
    height: 269px;
  }
  .modal-window {
    width: 271px;
    height: 393px;
  }
  .modal-content {
    width: 220px;
    height: 321px;
  }
  .modal-picture {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */